@import "tailwindcss";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}